@import 'libs/vars';
@import 'libs/functions';
@import 'libs/mixins';
@import 'libs/vendor';
@import 'libs/breakpoints';
@import 'libs/html-grid';
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,600');
@import url('font-awesome.min.css');

// Breakpoints.

@include breakpoints(
  (
    wide: (
      1081px,
      1680px,
    ),
    normal: (
      841px,
      1080px,
    ),
    narrow: (
      737px,
      840px,
    ),
    mobile: (
      null,
      736px,
    ),
  )
);

// Reset.
// Based on meyerweb.com/eric/tools/css/reset (v2.0 | 20110126 | License: public domain)

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;

  &:before,
  &:after {
    content: '';
    content: none;
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  -webkit-text-size-adjust: none;
}

mark {
  background-color: transparent;
  color: inherit;
}

input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input,
select,
textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
}

/* Basic */

// Set box model to border-box.
// Based on css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
.main-body {
  background-color: #183026;
  background-image: url('../images/overlay.png');
  background-size: cover;
  background-attachment: fixed, fixed;
  // background-blend-mode: hard-light;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.3vmax;
  line-height: 1.75em;
  font-weight: 300;
  letter-spacing: 1px;
  color: white;
  text-shadow: 0 0 0.5px rgba(58, 57, 57, 0.25);
  -webkit-text-stroke: 0.25px;

  @include breakpoint('<=mobile') {
    background-size: auto;
    background-attachment: fixed, fixed;
    font-size: 3vmax;
  }

  // Stops initial animations until page loads.
  &.is-preload {
    *,
    *:before,
    *:after {
      @include vendor('animation', 'none !important');
      @include vendor('transition', 'none !important');
    }
  }
}

input,
textarea,
select {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.3vmax;
  line-height: 1.75em;
  font-weight: 300;
  letter-spacing: 1px;
  color: #3a3939;
  text-shadow: 0 0 0.5px rgba(58, 57, 57, 0.25);
  -webkit-text-stroke: 0.25px;

  @include breakpoint('<=mobile') {
    font-size: 3.5vmax;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1.75em;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 2em;
  font-weight: 600;
  letter-spacing: 10px;

  @include breakpoint('<=mobile') {
    font-size: 1.8em;
    letter-spacing: 4px;
  }
}

h2 {
  font-size: 1.5em;
  font-weight: 600;
  letter-spacing: 5px;
}

h3 {
  font-size: 1em;
  letter-spacing: 5px;
}

strong,
b {
  font-weight: 600;
}

em,
i {
  font-style: italic;
}

sub {
  position: relative;
  top: 0.5em;
  font-size: 0.8em;
}

sup {
  position: relative;
  top: -0.5em;
  font-size: 0.8em;
}

hr {
  border: 0;
  border-top: solid 1px #dad9d9;
  margin: 2em 0 2em 0;
}

blockquote {
  // border-left: solid 0.5em #eae9e9;
  padding: 1em 1em 1em 1em;
  font-style: italic;
  font-size: 0.9em;
}

p,
ul,
ol,
dl,
table {
  margin-bottom: 1em;
}

header {
  margin-bottom: 1em;

  p {
    display: block;
    margin: 0.5em 0 0 0;
    padding: 0 0 1.5em 0;
  }
}

footer {
  margin-top: 1em;
}

br.clear {
  clear: both;
}

/* Container */

.container {
  margin: 0 auto;
  max-width: 100%;
  width: 1140px;

  @include breakpoint('<=wide') {
    width: 960px;
  }

  @include breakpoint('<=normal') {
    width: 95%;
  }
}

/* Row */

.row {
  @include html-grid((40px, 40px));

  @include breakpoint('<=wide') {
    @include html-grid((40px, 40px), 'wide');
  }

  @include breakpoint('<=normal') {
    @include html-grid((40px, 40px), 'normal');
  }

  @include breakpoint('<=narrow') {
    @include html-grid((30px, 30px), 'narrow');
  }

  @include breakpoint('<=mobile') {
    @include html-grid((20px, 20px), 'mobile');
  }
}

/* Sections/Article */

section,
article {
  // margin-bottom: 3em;
}

section > :last-child,
article > :last-child,
section:last-child,
article:last-child {
  margin-bottom: 0;
}

.row > {
  section,
  article {
    margin-bottom: 0;
  }
}

/* Form */

form {
  label {
    display: block;
    margin: 0 0 0.5em 0;
  }

  input[type='text'],
  input[type='email'],
  input[type='password'],
  select,
  textarea {
    @include vendor('transition', 'background-color 0.35s ease-in-out');
    -webkit-appearance: none;
    display: block;
    border: 0;
    background: #f1f1f1;
    width: 100%;
    padding: 0.75em;

    &:focus {
      background-color: #f8f8f8;
    }
  }

  input[type='text'],
  input[type='email'],
  input[type='password'],
  select {
    line-height: 1em;
  }

  select {
    background-size: 1.25em;
    background-repeat: no-repeat;
    background-position: calc(100% - 1em) center;
    padding-right: 1.25em;
    text-overflow: ellipsis;
    background-image: svg-url(
      "<svg xmlns='http://www.w3.org/2000/svg' width='40' height='40' preserveAspectRatio='none' viewBox='0 0 40 40'><path d='M9.4,12.3l10.4,10.4l10.4-10.4c0.2-0.2,0.5-0.4,0.9-0.4c0.3,0,0.6,0.1,0.9,0.4l3.3,3.3c0.2,0.2,0.4,0.5,0.4,0.9 c0,0.4-0.1,0.6-0.4,0.9L20.7,31.9c-0.2,0.2-0.5,0.4-0.9,0.4c-0.3,0-0.6-0.1-0.9-0.4L4.3,17.3c-0.2-0.2-0.4-0.5-0.4-0.9 c0-0.4,0.1-0.6,0.4-0.9l3.3-3.3c0.2-0.2,0.5-0.4,0.9-0.4S9.1,12.1,9.4,12.3z' fill='#5a5959' /></svg>"
    );

    option {
      color: #3a3939;
      background: #ffffff;
    }

    &:focus {
      &::-ms-value {
        background-color: transparent;
      }
    }

    &::-ms-expand {
      display: none;
    }
  }

  textarea {
    min-height: 12em;
  }

  ::-webkit-input-placeholder {
    color: #5a5959 !important;
  }

  :-moz-placeholder {
    color: #5a5959 !important;
  }

  ::-moz-placeholder {
    color: #5a5959 !important;
  }

  :-ms-input-placeholder {
    color: #5a5959 !important;
  }

  ::-moz-focus-inner {
    border: 0;
  }

  ul {
    &.actions {
      margin-bottom: 0;
      text-align: center;
    }
  }
}

/* Button */

input[type='button'],
input[type='submit'],
input[type='reset'],
button,
.button {
  border: 0;
  background: #fff;
  color: #35b882;
  text-decoration: none;
  font-size: 1em;
  outline: 0;
  padding: 1em 3em 1em 3em;
  text-align: center;
  border-radius: 3em;

  @include breakpoint('<=mobile') {
    font-size: 0.7em;
  }

  &:hover {
    background: #45c89f;
    color: #fff;
    box-shadow: inset 0 0 0 1px #fff;
    text-decoration: none;
  }

  &.style1 {
    @include vendor(
      'transition',
      (
        'transform 0.25s ease',
        'opacity 0.25s ease',
        'background-color 0.25s ease-in-out',
        'color 0.25s ease-in-out'
      )
    );
    @include vendor('transition-delay', '0.2s');
    @include vendor('transform', 'translateY(0)');
    color: #3a3939;
    background: #fff;
    box-shadow: inset 0 0 0 1px #fff;
    position: absolute;
    bottom: 3em;

    &:hover {
      @include vendor(
        'transition',
        (
          'transform 0.25s ease',
          'opacity 0.25s ease',
          'background-color 0.25s ease-in-out',
          'color 0.25s ease-in-out'
        )
      );
      @include vendor('transform', 'translateY(0.5em)');
      background: rgba(255, 255, 255, 0.1);
      color: #fff;

      @include breakpoint('<=mobile') {
        color: #3a3939;
        background: #fff;
      }
    }
  }

  &.style2 {
    @include vendor(
      'transition',
      (
        'transform 0.25s ease',
        'opacity 0.25s ease',
        'background-color 0.25s ease-in-out',
        'color 0.25s ease-in-out'
      )
    );
    @include vendor('transition-delay', '0.2s');
    @include vendor('transform', 'translateY(0)');
    color: #3a3939;
    background: #fff;
    box-shadow: inset 0 0 0 1px #fff;

    &:hover {
      @include vendor(
        'transition',
        (
          'transform 0.25s ease',
          'opacity 0.25s ease',
          'background-color 0.25s ease-in-out',
          'color 0.25s ease-in-out'
        )
      );
      @include vendor('transform', 'translateY(0.5em)');
      background: rgba(255, 255, 255, 0.1);
      color: #fff;

      @include breakpoint('<=mobile') {
        color: #3a3939;
        background: #fff;
      }
    }

    p {
      margin: 0;
      line-height: 1.5em;
    }
  }
}

/* Box */

.box {
  position: relative;
  margin-top: 9em;
  margin-left: auto;
  margin-right: auto;

  :last-child {
    margin-bottom: 0;
  }

  &.style2 {
    text-align: center;
    color: #3a3939;

    header {
      background: #fff;
      padding: 1em 1em 1em 1em;

      p {
        font-size: 1em;

        @include breakpoint('<=mobile') {
          font-size: 0.8em;
          // letter-spacing: 0px;
          // line-height: 1.5em;
        }
      }
    }

    .inner {
      position: relative;
      padding: 5em 0 1em 0;

      &:after {
        content: '';
        display: block;
        position: absolute;
        top: -1em;
        left: 50%;
        height: 160%;
        border-left: solid 1px #fff;

        @include breakpoint('<=mobile') {
          top: -1em;
          height: 150%;
        }
      }

      .row {
        position: relative;

        &:before {
          content: '';
          display: block;
          position: absolute;
          top: 50%;
          left: 4em;
          width: calc(100% - 8em);
          border-bottom: solid 1px #fff;

          @include breakpoint('<=mobile') {
            content: '';
            display: block;
            position: absolute;
            top: 50%;
            left: 4em;
            width: 0;
            border-bottom: solid 1px #fff;
          }
        }
      }

      .image {
        position: relative;
        z-index: 1;
        padding: 1em;
        width: 5em;
        height: 5em;
        background-color: white;
      }
    }
  }

  &.style3 {
    background: #fff;
    color: #3a3939;
    padding: 3em;

    header {
      text-align: center;

      p {
        font-size: 1em;

        @include breakpoint('<=mobile') {
          font-size: 0.8em;
          // letter-spacing: 0px;
          // line-height: 1.5em;
        }
      }
    }

    &:before {
      content: '';
      display: block;
      width: 90px;
      height: 66px;
      position: absolute;
      left: 50%;
      top: -4.5em;
      margin-left: -45px;
      margin-top: -33px;
      background: url('../images/arrow.svg') no-repeat;
    }
  }
}

/* Image */

.image {
  display: inline-block;
  border: 0;

  img {
    display: block;
    width: 100%;
  }

  &.featured {
    display: block;
    width: 100%;
    margin: 0 0 2em 0;
  }

  &.fit {
    display: block;
    width: 100%;
  }

  &.left {
    float: left;
    margin: 0 2em 2em 0;
  }

  &.centered {
    display: block;
    margin: 0 0 2em 0;

    img {
      margin: 0 auto;
      width: auto;
    }
  }
}

/* Icons */

ul.icons {
  cursor: default;
  list-style: none;
  padding-left: 0;

  li {
    display: inline-block;
    padding-left: 0;
    margin-top: 0;
  }

  a {
    display: inline-block;
    width: 2.5em;
    height: 2.5em;
    line-height: 2.5em;
    text-align: center;
    border: 0;
  }
}

.icon {
  text-decoration: none;

  &:before {
    display: inline-block;
    font-family: FontAwesome;
    font-size: 1.25em;
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  > .label {
    display: none;
  }
}

/* Header */

#header {
  @include vendor('display', 'flex');
  @include vendor('justify-content', 'center');
  @include vendor('align-items', 'center');
  height: 100vh;
  position: relative;
  text-align: center;

  h1 {
    @include vendor('transform', 'scale(1)');
    @include vendor('transition', ('transform 0.2s ease', 'opacity 0.2s ease'));
    display: inline-block;
    padding: 0.35em 1em;
    position: relative;
    z-index: 0;
    margin-bottom: 1em;

    &:before,
    &:after {
      @include vendor('transition', 'width 0.5s ease');
      @include vendor('transition-delay', '0.25s');
      background: _palette(fg-bold);
      content: '';
      display: block;
      height: 2px;
      position: absolute;
      width: 100%;
    }

    &:before {
      top: 0;
      left: 0;
    }

    &:after {
      bottom: 0;
      right: 0;
    }
  }

  p {
    @include vendor('transform', 'scale(1)');
    @include vendor('transition', ('transform 0.5s ease', 'opacity 0.5s ease'));
    @include vendor('transition-delay', '.5s');
    font-size: 1em;
    letter-spacing: _size(letter-spacing-alt);
    text-transform: uppercase;

    @include breakpoint('<=mobile') {
      font-size: 0.8em;
    }
  }

  .more {
    width: 12em;
    left: 0;
    right: 0;
    margin: auto;

    &:after {
      content: '';
      display: block;
      position: absolute;
      bottom: -15em;
      left: 50%;
      height: 15em;
      border-left: solid 1px #fff;

      @include breakpoint('<=mobile') {
        bottom: -9em;
        height: 9em;
      }
    }
  }
}

body.is-preload,
.main-body.is-preload {
  #header {
    h1 {
      @include vendor('transform', 'scale(0.95)');
      opacity: 0;

      &:before,
      &:after {
        width: 0;
      }
    }

    p {
      opacity: 0;
    }

    .more {
      @include vendor('transform', 'translateY(8.5em)');
      opacity: 0;
    }

    &:after {
      opacity: 1;
    }
  }
}

/* Banner */

#banner {
  @include vendor('display', 'flex');
  @include vendor('justify-content', 'center');
  position: relative;
  height: 100vh;

  @include breakpoint('<=mobile') {
    @include vendor('display', 'flex');
    @include vendor('flex-direction', 'column');
    @include vendor('justify-content', 'flex-start');
    @include vendor('align-items', 'center');
    height: 100vh;
  }

  .content {
    @include vendor('display', 'flex');
    @include vendor('flex-direction', 'column');
    @include vendor('justify-content', 'center');
    width: 80%;
    height: 85vh;
    padding: 2em 2em 2em 2em;
    margin: auto;
    text-align: center;
    color: #fff;
    background: #35b88f bottom center no-repeat;
    box-shadow: inset 0 0 0 1px #fff;

    // &.sal-animate {
    //   @include vendor(
    //     'transition',
    //     ('height 0.5s ease 0.7s', 'width 0.5s ease 0.7s')
    //   );
    //   width: 80%;
    //   height: 85vh;
    // }

    @include breakpoint('<=mobile') {
      @include vendor('display', 'flex');
      @include vendor('flex-direction', 'column');
      @include vendor('justify-content', 'flex-start');
      margin-top: 2em;
      width: 10%;
      height: 1vh;

      &.sal-animate {
        @include vendor('transition', ('height 0.5s ease', 'width 0.5s ease'));
        width: 95%;
        height: 80vh;
      }
    }

    header {
      h2 {
        font-weight: 400;
        font-size: 1.75em;
        letter-spacing: 8px;

        @include breakpoint('<=mobile') {
          font-weight: 600;
          font-size: 0.8em;
          letter-spacing: 4px;
        }
      }
    }

    p {
      margin: 0;

      @include breakpoint('<=mobile') {
        font-size: 0.8em;
        letter-spacing: 0px;
        line-height: 1.5em;
      }
    }
  }
}

/* Footer */

#footer {
  position: relative;
  color: #fff;
  text-shadow: 0 0 0.5px rgba(255, 255, 255, 0.25);
  text-align: center;
  margin: 4.5em 0 0 0;

  &:after {
    content: '';
    display: block;
    position: absolute;
    top: -4.5em;
    left: 50%;
    height: 4.5em;
    border-left: solid 1px #fff;
  }

  a {
    color: #fff;
    text-shadow: 0 0 0.5px rgba(255, 255, 255, 0.25);
    border-bottom-color: rgba(255, 255, 255, 0.5);

    &:hover {
      color: #35b88f;
      text-shadow: 0 0 0.5px rgba(69, 200, 159, 0.25);
      border-bottom-color: rgba(53, 184, 143, 0.5);
    }
  }

  .icons {
    padding: 0.75em 2em 0.75em 2em;
    border-radius: 3em;
    border: solid 1px #fff;
    display: inline-block;
    margin: 0 0 3em 0;
  }

  .copyright {
    margin: 0 0 9em 0;
    font-size: 0.8em;
  }
}
