@import 'libs/vars';
@import 'libs/functions';
@import 'libs/mixins';
@import 'libs/vendor';
@import 'libs/breakpoints';
@import 'libs/html-grid';
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,600');
@import url('font-awesome.min.css');

@include breakpoints(
  (
    wide: (
      1081px,
      1680px,
    ),
    normal: (
      841px,
      1080px,
    ),
    narrow: (
      737px,
      840px,
    ),
    mobile: (
      null,
      736px,
    ),
  )
);

.navigationBar {
  position: fixed;
  width: 100%;
  height: 2.2em;
  top: 0;
  padding: 0.4em;
  z-index: 1;
}

.navigationBarMenu {
  background-color: rgba($color: #000000, $alpha: 0.4);
}

.navigationBarMenu li a {
  @include vendor('transition', ('color 0.35s ease-in-out'));
  display: block;
  color: white;
  text-decoration: none;
  padding: 0.4em;
  font-size: 0.7em;

  &:hover {
    color: #45c89f;

    @include breakpoint('<=mobile') {
      color: white;
    }
  }
}
