@import 'libs/vars';
@import 'libs/functions';
@import 'libs/mixins';
@import 'libs/vendor';
@import 'libs/breakpoints';
@import 'libs/html-grid';
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,600');
@import url('font-awesome.min.css');

$smallerDevicesMaxWidth: 360px;
$maxWidth: 700px;
$minWidth: 701px;
$maxHeight: 600px;

@include breakpoints(
  (
    wide: (
      1081px,
      1680px,
    ),
    normal: (
      841px,
      1080px,
    ),
    narrow: (
      737px,
      840px,
    ),
    mobile: (
      null,
      736px,
    ),
  )
);

.navigationBar {
  width: 100%;
  position: fixed;
  z-index: 1;

  //   fix at the top of page
  top: 0px;
  padding: 0 1rem 0 1rem;

  display: flex;
  // to have logo on the left and links on the right
  justify-content: space-between;
}

@media (max-width: $maxWidth) {
  .navigationBar {
    height: 54px;
  }
}
@media (min-width: $minWidth) and (min-height: $maxHeight) {
  .navigationBar {
    height: 72px;
  }
}
// headerMenu
.navigationBarMenu {
  list-style: none;
  margin: 0;
  padding-left: 10px;
  display: flex;
  align-items: center;
}

.navigationBarMenu li a {
  @include vendor(
    'transition',
    ('color 0.35s ease-in-out')
  );
  display: block;
  color: white;
  text-decoration: none;

  &:hover {
    color: #45c89f;

    @include breakpoint('<=mobile') {
      color: white;
    }
  }
}
@media (max-width: $maxWidth) {
  .navigationBarMenu li a {
    padding: 3px 10px 5px 0;
    font-size: 16px;
  }
}
@media (max-width: $smallerDevicesMaxWidth) {
  .navigationBarMenu li a {
    padding: 3px 5px 5px 0;
    font-size: 13px;
  }
}
@media (min-width: $minWidth) {
  .navigationBarMenu li a {
    padding: 15px 15px;
    font-size: 22px;
  }
}
