@import 'libs/vars';
@import 'libs/functions';
@import 'libs/mixins';
@import 'libs/vendor';
@import 'libs/breakpoints';
@import 'libs/html-grid';
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,600');
@import url('font-awesome.min.css');

// Breakpoints.

@include breakpoints(
  (
    wide: (
      1081px,
      1680px,
    ),
    normal: (
      841px,
      1080px,
    ),
    narrow: (
      737px,
      840px,
    ),
    mobile: (
      null,
      736px,
    ),
  )
);

.project-selector {
  margin: auto;
  margin-top: 3em;
  margin-bottom: 3em;
  width: 50%;

  &.left {
    left: -10%;
  }

  &.right {
    right: -10%;
  }

  .parallax-content {
    height: 20em;
    background-color: rgb(0, 0, 0);
    @include vendor('transition', ('opacity 0.5s ease'));
    opacity: 0.5;

    &.hover,
    &:hover {
      @include vendor('transition', ('opacity 0.5s ease'));
      opacity: 0;
    }
  }
}

.project-selector-header {
  position: relative;
  top: -20em;
  @include vendor('transition', ('color 0.35s ease-in-out'));
  color: white;

  &.hover,
  &:hover {
    color: #45c89f;
  }

  &.left {
    text-align: right;
    right: 25%;
  }

  &.right {
    text-align: left;
    left: 25%;
  }
}

/* Mobile */

@include breakpoint('<=mobile') {
  .project-selector {
    margin: auto;
    margin-top: 3em;
    // margin-bottom: 3em;
    width: 80%;

    &.left {
      left: -7.5%;
    }

    &.right {
      right: -7.5%;
    }

    .parallax-content {
      height: 10em;
      background-color: rgb(0, 0, 0);
      @include vendor('transition', ('opacity 0.5s ease'));
      opacity: 0.5;

      &.hover,
      &:hover {
        @include vendor('transition', ('opacity 0.5s ease'));
        opacity: 0;
      }
    }
  }

  .project-selector-header {
    position: relative;
    top: -9em;
    @include vendor('transition', ('color 0.35s ease-in-out'));
    color: white;

    h2 {
      font-size: 1em;
    }

    h3 {
      font-size: 0.7em;
    }

    &.hover,
    &:hover {
      color: #45c89f;
    }

    &.left {
      text-align: right;
      right: 2.5%;
    }

    &.right {
      text-align: left;
      left: 2.5%;
    }
  }
}
