@import 'libs/vars';
@import 'libs/functions';
@import 'libs/mixins';
@import 'libs/vendor';
@import 'libs/breakpoints';
@import 'libs/html-grid';

#project-header {
  @include vendor('display', 'flex');
  @include vendor('flex-direction', 'column');
  @include vendor('justify-content', 'center');
  height: 100vh;
  min-height: 35em;

  img {
    width: auto;
    height: 100vh;
  }
}

#project-banner {
  position: relative;
  width: 80%;
  color: #fff;
  text-shadow: 0 0 0.5px rgba(255, 255, 255, 0.25);
  text-align: center;
  background: #35b88f bottom center no-repeat;
  padding: 2em 10em 2em 10em;
  margin: auto;

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: -3em;
    left: 50%;
    height: 3em;
    border-left: solid 1px #fff;
  }

  header {
    h2 {
      font-weight: 400;
      font-size: 1.75em;
      letter-spacing: 8px;
    }
  }

  p {
    margin: 0;
  }

  a {
    color: inherit;
    border-bottom-color: rgba(255, 255, 255, 0.5);

    &:hover {
      border-bottom-color: rgba(255, 255, 255, 0);
    }
  }
}

#project-media {
  position: relative;
  margin-top: 9em;
  margin-left: auto;
  margin-right: auto;
  color: black;
  width: 80%;
  height: 20em;

  &:after {
    content: '';
    display: block;
    position: absolute;
    top: -9em;
    left: 50%;
    height: 9em;
    border-left: solid 1px #fff;
  }

  &:before {
    content: '';
    display: block;
    width: 90px;
    height: 66px;
    position: absolute;
    left: 50%;
    top: -4.5em;
    margin-left: -45px;
    margin-top: -33px;
    background: url('../images/arrow.svg') no-repeat;
  }

  :last-child {
    margin-bottom: 0;
  }

  .media {
    @include vendor('display', 'flex');
    @include vendor('justify-content', 'center');
    @include vendor('align-items', 'center');
    position: absolute;
    width: 50%;
    height: 20em;
    overflow: hidden;
    background-color: white;

    img {
      position: absolute;
      width: 90%;
      height: auto;
    }
  }

  .inner {
    background: #fff;
    width: 50%;
    height: 20em;
    padding: 3em;

    > :last-child {
      margin: 0;
    }
  }

  &.right {
    .media {
      left: 0;
    }

    .inner {
      margin-left: 50%;
    }
  }

  &.left {
    .media {
      right: 0;
    }

    .inner {
      margin-right: 50%;
    }
  }
}
