@import 'libs/vars';
@import 'libs/functions';
@import 'libs/mixins';
@import 'libs/vendor';
@import 'libs/breakpoints';
@import 'libs/html-grid';

.project-selector {
  margin: auto;
  margin-top: 3em;
  margin-bottom: 3em;
  width: 50%;

  &.left {
    left: -10%;
  }

  &.right {
    right: -10%;
  }

  .parallax-content {
    height: 20em;
    background-color: rgb(0, 0, 0);
    @include vendor('transition', ('opacity 0.5s ease'));
    opacity: 0.5;

    &:hover {
      @include vendor('transition', ('opacity 0.5s ease'));
      opacity: 0;
    }
  }
}

.project-header {
  position: relative;
// width:10%;
  top: -20em;
  margin: auto;

  &.left {
    text-align: right;
    right: 20%;
  }

  &.right {
    text-align: left;
    left: 20%;
  }
}
